@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bar-color: #101010;
  --header-background-color: white;
  --nav-hover: rgb(54, 212, 138);
  --font-color: black;
  --about-me-color: rgb(231, 255, 233);
  --table-hover-color: rgb(184, 255, 222);
  --table-line-color: gray;
  --picture-line: rgb(195, 255, 200);
  --footer-bgc: #d9ffd8;
  --table-font-hover: #101010;
  --icon-color: #101010;
  --card-bgc: #e4f1e4;
}

.toChang {
  --bar-color: white;
  --header-background-color: #3a3939;
  --nav-hover: rgb(54, 212, 138);
  --font-color: white;
  --about-me-color: rgb(255, 203, 143);
  --table-hover-color: rgb(184, 255, 222);
  --table-line-color: gray;
  --picture-line: rgb(195, 255, 200);
  --footer-bgc: rgba(143, 234, 255, 1);
  --table-font-hover: #101010;
  --icon-color: rgb(184, 255, 222);
  --card-bgc: rgba(247, 237, 215, 1);
}

.hamburger {
  display: none;
  margin-left: 1rem;
  margin-top: 1rem;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--bar-color);
}

body {
  overflow-x: hidden;
  background-color: var(--header-background-color);
}
body header {
  background-color: var(--header-background-color);
  position: sticky;
  top: 0;
  z-index: 5;
}
body header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header nav ul {
  flex: 4 0 auto;
  display: flex;
  margin-bottom: 0;
}
body header nav ul li {
  list-style-type: none;
  margin: 1rem;
}
body header nav ul li a {
  color: var(--font-color);
  text-decoration: none;
  transition: all 0.1s ease;
  font-size: 1.5rem;
}
body header nav ul li a:hover {
  color: var(--nav-hover);
}
body header nav .moon-icon {
  margin: 1rem;
  cursor: pointer;
}
body header nav .moon-icon i {
  font-size: 2rem;
  color: var(--icon-color);
}
body main section.main-area {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body main section.main-area div.info {
  flex-basis: 450px;
}
body main section.main-area div.info h1 {
  font-size: 3.5rem;
  color: var(--font-color);
  font-weight: bold;
}
body main section.main-area div.info h2 {
  color: var(--font-color);
  font-size: 1.5rem;
}
body main section.main-area div.info a {
  color: var(--header-background-color);
  background-color: var(--nav-hover);
  padding: 0.25rem 2rem;
  font-size: 1.5rem;
  border-radius: 20px;
  display: inline-block;
  margin-top: 2rem;
  text-decoration: none;
  transition: all 0.2s ease;
}
body main section.main-area div.info a:hover {
  transform: scale(1.1);
}
body main section.main-area div.info a:active {
  transform: scale(0.8);
}
body main section.main-area img {
  flex-basis: 300px;
  width: 30vw;
}
body main section.about-me {
  background-color: var(--about-me-color);
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main section.about-me div.desc {
  width: 50%;
  text-align: center;
}
body main section.about-me div.desc h2 {
  font-size: 2.3rem;
  color: --table-font-hover;
}
body main section.about-me div.desc p {
  font-size: 1rem;
  color: --table-font-hover;
}
body main section.about-me div.progress-area p {
  color: --table-font-hover;
  margin: 0.5rem 0rem;
  font-size: 1.3rem;
}
body main section.resume {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 2rem 0rem 2rem;
  scroll-margin-top: 100px;
}
body main section.resume section.table {
  flex: 5 1 500px;
  z-index: 1;
}
body main section.resume section.table table {
  border-collapse: collapse;
}
body main section.resume section.table table tr.table-top-line {
  border-top: 2px solid var(--table-line-color);
}
body main section.resume section.table table tr {
  border-bottom: 2px solid var(--table-line-color);
  transition: all 0.2s ease;
  color: var(--font-color);
}
body main section.resume section.table table tr:hover {
  background-color: var(--about-me-color);
  color: var(--table-font-hover);
}
body main section.resume section.table table tr td {
  padding: 1rem;
}
body main section.resume section.table table tr td hr {
  border-color: var(--table-line-color);
}
body main section.resume section.table table tr td ul li samp {
  font-weight: 600;
}
body main section.resume section.picture {
  flex: 1 1 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main section.resume section.picture img {
  width: 90%;
  border-radius: 10px;
}
body main section.resume section.picture div.greenRect {
  width: 30vw;
  height: 90vh;
  border: 10px solid var(--picture-line);
  position: absolute;
  top: 30px;
  left: 80px;
  z-index: -1;
}
body main section.resume section.picture div.greenRect2 {
  width: 50vw;
  height: 40vh;
  border: 10px solid var(--picture-line);
  position: absolute;
  top: 300px;
  left: -300px;
  z-index: -1;
}
body main section.resume section.picture div.greenRect3 {
  width: 50vw;
  height: 40vh;
  border: 10px solid var(--picture-line);
  position: absolute;
  top: 0px;
  left: -100px;
  z-index: -1;
}
body main section.resume section.picture div.greenRect-no {
  display: none;
}
body main section.demo {
  scroll-margin-top: 100px;
  display: flex;
  margin: 2rem auto;
  max-width: 1440px;
  flex-wrap: wrap-reverse;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--card-bgc);
}
body main section.demo .description {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
body main section.demo .description ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  gap: 1.5rem;
}
body main section.demo .description ul li h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #003470;
}
body main section.demo .description ul li p {
  color: var(---table-font-hover);
}
body main section.demo .description ul li p .text-list {
  font-weight: bold;
  color: brown;
  font-size: 1.2rem;
}
body main section.demo .description ul li {
  position: relative;
}
body main section.demo .description ul li a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: -20px;
  color: var(--header-background-color);
  background-color: var(--nav-hover);
  padding: 0.25rem 2rem;
  font-size: 1.5rem;
  border-radius: 20px;
}
body main section.demo .description ul li a:hover {
  transform: scale(1.1);
}
body main section.demo .description ul li a:active {
  transform: scale(0.8);
}
body main section.demo .picture-demo {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body main section.demo .picture-demo .pictureSize {
  margin: 2rem;
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}
body main section.demo .picture-demo .pictureSize img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}
body main footer .footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-bgc);
  bottom: 0;
}
body main footer .footer a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: var(--table-font-hover);
  padding: 0.5rem;
}
body main footer .footer .icon {
  opacity: 0%;
  transition: all 1s ease;
  cursor: pointer;
  color: var(--bar-color);
  z-index: 50;
}
body main footer .footer .icon i {
  font-size: 4rem;
  position: fixed;
  bottom: 0.5rem;
  right: 1rem;
  transition: all 0.2s ease;
}
body main footer .footer .icon i:active {
  transform: scale(0.8);
}
body main footer .footer .see {
  opacity: 100%;
}

@media (max-width: 1080px) {
  body main section.resume section.picture {
    display: none;
  }
  body main section.demo {
    margin: 1.6rem 0.7rem;
  }
}
@media screen and (max-width: 880px) {
  body header nav .active {
    left: 0;
    top: 65px;
  }
  body header nav .hamburger {
    display: block;
    bottom: 0.7rem;
  }
  body header nav ul {
    position: fixed;
    left: -100%;
    top: 45px;
    flex-direction: column;
    background-color: var(--header-background-color);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  body header nav ul li {
    margin: 0;
  }
  body header nav ul li ::after {
    content: "";
    display: block;
    border-top: 1px solid gray;
    margin: 0.3rem 0;
  }
  body main section.main-area div.info {
    padding: 1rem;
  }
  body main section.main-area img {
    width: 90%;
    padding: 1.5rem;
  }
  body main section.about-me {
    padding: 1rem 0.5rem;
  }
  body main section.about-me div.desc {
    width: 80%;
  }
  body main section.about-me div.progress-area {
    width: 80%;
  }
  body main section.resume {
    overflow-x: auto;
  }
  body main section.resume section.picture img {
    width: 90%;
  }
  body main section.resume section.picture div.greenRect,
  body main section.resume section.picture div.greenRect2,
  body main section.resume section.picture div.greenRect3 {
    display: none;
  }
  body main section.demo .description {
    flex: 1 1 100%;
  }
  body main section.demo .picture-demo {
    flex: 1 1 100%;
  }
}
@media screen and (max-width: 500px) {
  body header nav {
    position: static;
  }
}/*# sourceMappingURL=style.css.map */