* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
html {
  scroll-behavior: smooth; //平滑滾動
}

:root {
  --bar-color: #101010;
  --header-background-color: white;
  --nav-hover: rgb(54, 212, 138);
  --font-color: black;
  --about-me-color: rgb(231, 255, 233);
  --table-hover-color: rgb(184, 255, 222);
  --table-line-color: gray;
  --picture-line: rgb(195, 255, 200);
  --footer-bgc: #d9ffd8;
  --table-font-hover: #101010;
  --icon-color: #101010;
  --card-bgc: #e4f1e4;
}

.toChang {
  --bar-color: white;
  --header-background-color: #3a3939;
  --nav-hover: rgb(54, 212, 138);
  --font-color: white;
  --about-me-color: rgb(255, 203, 143);
  --table-hover-color: rgb(184, 255, 222);
  --table-line-color: gray;
  --picture-line: rgb(195, 255, 200);
  --footer-bgc: rgba(143, 234, 255, 1);
  --table-font-hover: #101010;
  --icon-color: rgb(184, 255, 222);
  --card-bgc: rgba(247, 237, 215, 1);
}

.hamburger {
  display: none;
  margin-left: 1rem;
  margin-top: 1rem;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--bar-color);
}

body {
  overflow-x: hidden;
  background-color: var(--header-background-color);

  header {
    background-color: var(--header-background-color);
    position: sticky;
    top: 0;
    z-index: 5;
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      ul {
        flex: 4 0 auto;
        display: flex;
        margin-bottom: 0;
        li {
          list-style-type: none;
          margin: 1rem;
          a {
            color: var(--font-color);
            text-decoration: none;
            transition: all 0.1s ease;
            font-size: 1.5rem;
            &:hover {
              color: var(--nav-hover);
            }
          }
        }
      }

      .moon-icon {
        margin: 1rem;
        cursor: pointer;
        i {
          font-size: 2rem;
          color: var(--icon-color);
        }
      }
    }
  }

  main {
    section.main-area {
      min-height: 70vh;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      div.info {
        // border: 2px solid black;
        flex-basis: 450px;

        h1 {
          font-size: 3.5rem;
          color: var(--font-color);
          font-weight: bold;
        }
        h2 {
          color: var(--font-color);
          font-size: 1.5rem;
        }
        //按鈕動畫
        a {
          color: var(--header-background-color);
          background-color: var(--nav-hover);
          padding: 0.25rem 2rem;
          font-size: 1.5rem;
          border-radius: 20px;
          display: inline-block;
          margin-top: 2rem;
          text-decoration: none;
          transition: all 0.2s ease;
          &:hover {
            transform: scale(1.1);
          }
          &:active {
            transform: scale(0.8);
          }
        }
      }

      img {
        flex-basis: 300px;
        width: 30vw;
      }
    }

    section.about-me {
      background-color: var(--about-me-color);
      padding: 5rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      div.desc {
        // border: 2px solid black;
        width: 50%;
        text-align: center;
        h2 {
          font-size: 2.3rem;
          color: --table-font-hover;
        }
        p {
          font-size: 1rem;
          color: --table-font-hover;
        }
      }

      div.progress-area {
        p {
          color: --table-font-hover;
          margin: 0.5rem 0rem;
          font-size: 1.3rem;
        }
      }
    }

    section.resume {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem 2rem 0rem 2rem;
      scroll-margin-top: 100px;

      section.table {
        flex: 5 1 500px;
        // padding: 2rem;
        z-index: 1;
        table {
          border-collapse: collapse;
          tr.table-top-line {
            border-top: 2px solid var(--table-line-color);
          }
          tr {
            border-bottom: 2px solid var(--table-line-color);
            transition: all 0.2s ease;
            color: var(--font-color);
            &:hover {
              background-color: var(--about-me-color);
              color: var(--table-font-hover);
            }
            td {
              padding: 1rem;
              hr {
                border-color: var(--table-line-color);
              }
              ul {
                li {
                  samp {
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
      }
      //照片區
      section.picture {
        flex: 1 1 500px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 90%;
          border-radius: 10px;
        }

        div.greenRect {
          width: 30vw;
          height: 90vh;
          border: 10px solid var(--picture-line);
          position: absolute;
          top: 30px;
          left: 80px;
          z-index: -1;
        }

        div.greenRect2 {
          width: 50vw;
          height: 40vh;
          border: 10px solid var(--picture-line);
          position: absolute;
          top: 300px;
          left: -300px;
          z-index: -1;
        }

        div.greenRect3 {
          width: 50vw;
          height: 40vh;
          border: 10px solid var(--picture-line);
          position: absolute;
          top: 0px;
          left: -100px;
          z-index: -1;
        }
        div.greenRect-no {
          display: none;
        }
      }
    }

    section.demo {
      scroll-margin-top: 100px; //錨點定位往下移動100px
      display: flex;
      margin: 2rem auto;
      max-width: 1440px;
      flex-wrap: wrap-reverse;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      background-color: var(--card-bgc);

      .description {
        flex: 1 1 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

        ul {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          list-style: none;
          gap: 1.5rem;
          li {
            h2 {
              font-size: 3rem;
              font-weight: bold;
              color: #003470;
            }
          }
          li {
            p {
              color: var(---table-font-hover);
              .text-list {
                font-weight: bold;
                color: brown;
                font-size: 1.2rem;
              }
            }
          }
          li {
            position: relative;
            a {
              text-decoration: none;
              font-size: 2rem;
              font-weight: bold;
              position: absolute;
              left: 0;
              top: -20px;
              color: var(--header-background-color);
              background-color: var(--nav-hover);
              padding: 0.25rem 2rem;
              font-size: 1.5rem;
              border-radius: 20px;

              &:hover {
                transform: scale(1.1);
              }
              &:active {
                transform: scale(0.8);
              }
            }
          }
        }
      }
      .picture-demo {
        flex: 1 1 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .pictureSize {
          margin: 2rem;
          display: flex;
          justify-content: center; /* 水平居中 */
          align-items: center; /* 垂直居中 */
          img {
            max-width: 100%;
            max-height: 100%;
            // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
          }
        }
      }
    }

    footer .footer {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--footer-bgc);
      bottom: 0;
      a {
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
        color: var(--table-font-hover);
        padding: 0.5rem;
      }

      .icon {
        opacity: 0%;
        transition: all 1s ease;
        cursor: pointer;
        color: var(--bar-color);
        z-index: 50;

        i {
          font-size: 4rem;
          position: fixed;
          bottom: 0.5rem;
          right: 1rem;
          transition: all 0.2s ease;

          &:active {
            transform: scale(0.8);
          }
        }
      }

      .see {
        opacity: 100%;
      }
    }
  }
}

@media (max-width: 1080px) {
  body {
    main {
      section.resume {
        section.picture {
          display: none;
        }
      }
      section.demo {
        margin: 1.6rem 0.7rem;
      }
    }
  }
}

@media screen and (max-width: 880px) {
  body {
    header {
      nav {
        .active {
          left: 0;
          top: 65px;
        }
        .hamburger {
          display: block;
          bottom: 0.7rem;
        }
        ul {
          position: fixed;
          left: -100%;
          top: 45px;
          flex-direction: column;
          background-color: var(--header-background-color);
          width: 100%;
          border-radius: 10px;
          text-align: center;
          transition: 0.3s;
          box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
          li {
            margin: 0;
            ::after {
              content: '';
              display: block;
              border-top: 1px solid gray;
              margin: 0.3rem 0;
            }
          }
        }
      }
    }

    main {
      section.main-area {
        div.info {
          padding: 1rem;
        }
        img {
          width: 90%;
          padding: 1.5rem;
        }
      }
      section.about-me {
        padding: 1rem 0.5rem;
        div.desc {
          width: 80%;
        }
        div.progress-area {
          width: 80%;
        }
      }

      section.resume {
        overflow-x: auto;

        section.table {
          //   min-width: 800px;
        }
        section.picture {
          img {
            width: 90%;
          }
          div.greenRect,
          div.greenRect2,
          div.greenRect3 {
            display: none;
          }
        }
      }

      section.demo {
        .description {
          flex: 1 1 100%;
        }
        .picture-demo {
          flex: 1 1 100%;
          .pictureSize {
            img {
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  body {
    header {
      nav {
        position: static;
        ul {
        }
      }
    }
  }
}
